<!-- <div class="container d-flex flex-column justify-content-center">
  <form [formGroup]="AuthForm" (ngSubmit)="onSubmit()" class="mt-5">
    <div class="mb-3 d-flex flex-column align-items-center">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Enter JWT to Authorize</label
      >
      <textarea
        class="form-control"
        id="jwt"
        rows="5"
        style="width: 50vw"
        formControlName="jwt"
      ></textarea>
      <span
        class="help-block"
        *ngIf="!AuthForm.get('jwt')?.valid && AuthForm.get('jwt')?.touched"
        >Please enter a value!</span
      >
    </div>
    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!AuthForm.valid"
      >
        Submit
      </button>
      <br />
    </div>
  </form>
  <div
    class="alert alert-warning mx-auto mt-2"
    style="width: 50vw"
    role="alert"
    *ngIf="message"
  >
    {{ message.status_message }}
  </div>
</div> -->
