.card {
  width: 10rem;
  margin: 10px;
}

.card-body {
  border-color: 5px solid grey;
}

svg {
  margin-right: 5px;
}

.horizontal-layout {
  display: flex;
  align-items: center;
}

p {
  flex-direction: row;
}

.no-decoration {
  border: none;
  background-color: transparent;
}

.hoverable:hover {
  cursor: pointer;
}
