/*  */

.card {
  width: 10rem;
  /* background-color: aqua; */
  height: 22rem;
  /* border-color: transparent; */
  margin: 10px;
  border-color: blue;
}

svg {
  margin-right: 5px;
}

.horizontal-layout {
  display: flex;
  align-items: center;
}

p {
  flex-direction: row;
}

.no-decoration {
  border: none;
  background-color: transparent;
}
